<h1>
    <%= title %>
</h1>

<%- messages() %>

<form>
    <input type="email">
    <input type="password">
    <input type="submit">
    <p>No account? <a href="/account/register">Sign-up</a></p>
</form>