<h1>Welcom to CSE Motors!</h1>

<div id="hero">
    <div>
        <img src="images/vehicles/delorean.jpg" alt="A antique car in cartoon style">
    </div>
    <section id="hero-msg">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </section>
</div>

<div id="home">
    <section>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coliest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section>
        <h2>Delorean Upgrades</h2>
        <div id="upgrades">
            <div>
                <img src="images/upgrades/flux-cap.png" alt="Image of a flux capcitor.">
                <a>Flux Capacitor</a>
            </div>
            <div>
                <img src="images/upgrades/flame.jpg" alt="image of a fire.">
                <a>Flame Decals</a>
            </div>
            <div>
                <img src="images/upgrades/bumper_sticker.jpg" alt="image of a bumper sticker.">
                <a>Bumper Stickers</a>
            </div>
            <div>
                <img src="images/upgrades/hub-cap.jpg" alt="image of a hub cap.">
                <a>Hub Caps</a>
            </div>
        </div>
    </section>
</div>