<h1>
    <%= title %>
</h1>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
   </ul>
<% } %>


<form id="classificationForm" action="/inv/add-classification" method="post">
    <label for="classification_name"></label>
    <input type="text" name="classification_name" id="classification_name" required pattern="[a-zA-Z]+$">
    <button type="submit">Add Classification</button>
</form>
